

body {
  animation: colorchange 20s infinite alternate;
  background-color: #000;
}

#body {

  border: solid;
  height: calc(100vh - 200px - 6px);
}

#title {
  border: solid maroon;
  font-style: italic;

}

.link {
  /* styles for links go here */
  color: currentColor;
  font-size: 22px;
}

.text {
  background-color: maroon;
  border-radius: 50px;
  display: inline-block;
  padding: 2px 4px;
}

#mark {
  font-size: 22px;
  font-style: italic;
  line-height: 100px;
}

#review {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: .3s;
  height: 100px;
  font-family: sans-serif
}

#review:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

#rate {
  font-size: 20px;
}

#outer-rev {
  width: 100%;
}

#card {
  position: relative;
  animation: flip ease-in-out 3s infinite alternate;
  height: 200px;
  width: 350px;
  margin: auto;
  transform-style: preserve-3d;

}

#card text {
  font-size: 2em;
  font-family: monospace;
  fill: currentColor;
  stroke: transparent;
}

#card .border {
  fill: maroon;
  stroke: currentColor;
  stroke-width: 3;
}

#front,
#back {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 350px;
  backface-visibility: hidden;
}

#back {
  transform: rotateY(180deg);
}
.star{
  cursor: pointer;
}

@keyframes flip {
  20% {
    transform: rotateY(0)
  }

  30% {
    transform: rotateY(180deg)
  }

  70% {
    transform: rotateY(180deg)
  }

  80% {
    transform: rotateY(0)
  }
}

@keyframes colorchange {
  0% {
    color: blue;
  }

  10% {
    color: #8e44ad;
  }

  20% {
    color: #1abc9c;
  }

  30% {
    color: #d35400;
  }

  40% {
    color: blue;
  }

  50% {
    color: #34495e;
  }

  60% {
    color: blue;
  }

  70% {
    color: #2980b9;
  }

  80% {
    color: #f1c40f;
  }

  90% {
    color: #2980b9;
  }

  100% {
    color: pink;
  }
}