body {
    color: rgb(2, 88, 2);
    background-color:#000;
}

#body {
    
    border:solid;
    border-color:maroon;
    height: calc(100vh - 200px - 6px);
}

#title {
    border:solid maroon;
    font-size: 26px;
    font-style: italic;
    
}

.link {
    /* styles for links go here */
    color: rebeccapurple;
}

.text {
    background-color: maroon;
    border-radius: 5px;
    display: inline-block;
    padding: 2px 4px;
}

#mark {
    font-size: 22px;
    font-style: italic;
    line-height: 100px;
}